:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --first-bloc-color: #ffffff;
  --accent-text-color: #2196f3;
  --dark-bg-color: #2f303a;
  --social-footer-color: rgba(255, 255, 255, 0.6);
  --laber-color: #000000;
  --section-color: #e5e5e5;
  --section-team-color: #f5f4fa;
  --border-color: #eeeeee;
  --border-header: #ececec;
  --icon-color: #afb1b8;
  --icon-footer-color: #44454e;

  --animation: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body styles */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1, 71;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color var(--animation) var(--cubic);
}
.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
button {
  border: none;
}

/* Header section styles */

.header {
  background-color: var(--first-bloc-color);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-header);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-label {
  margin-right: 93px;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
}

.navigation-list__link-active {
  color: var(--accent-text-color);
}
.navigation-list__link-active::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contact-list__link .icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Main section styles */

/*hero section styles*/
.hero {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position: center;
  background-repeat: no-repeat;
}

.hero .conteiner {
  max-width: 700px;
  margin: auto;
  min-height: 100vh;
}

.hero__title {
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-bloc-color);
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 81;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-bloc-color);
  background-color: var(--accent-text-color);
  padding: 14px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*main points section styles*/

.main-section {
  align-items: center;
  padding-top: 94px;
}

.latent-title {
  display: none;
}

.main-section__list {
  display: flex;
}

.main-section__item {
  max-width: 270px;
}
.main-section__list .icon {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}
.main-section__icon {
  background-color: var(--section-team-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.main-section__item:not(:last-child) {
  margin-right: 30px;
}

.main-section__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.main-section__text {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}

/*about us section*/
.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  display: block;
  min-width: 376px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-us__item {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 3) / 3);
}

.about-us__name {
  position: absolute;
  align-items: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-bloc-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*about our team section*/
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--section-team-color);
  text-align: center;
}

.section-title {
  display: block;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 4) / 4);
  padding-bottom: 30px;
  background-color: var(--first-bloc-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-list__profession {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}

.main-section,
.about-us {
  background: var(--first-bloc-color);
}

.social-icon__item .icon {
  width: 20px;
  height: 20px;
}
.social-icons {
  display: inline-flex;
  text-align: center;
}
.social-icon__link {
  display: flex;
  justify-content: center;

  fill: var(--icon-color);
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--first-bloc-color);
  transition: fill var(--animation) var(--cubic),
    background-color var(--animation) var(--cubic);
}

.social-icon__link:hover,
.social-icon__link:focus {
  background-color: var(--accent-text-color);
  fill: var(--first-bloc-color);
}

.social-icon__item:not(:last-child) {
  margin-right: 10px;
}

/* regular customer*/

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers__list {
  display: flex;
  align-items: center;
}
.regular-customers__link {
  display: inline-flex;
  width: 170px;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid currentColor;
  fill: var(--icon-color);
  transition: fill var(--animation) var(--cubic);
}
.regular-customers__link:hover,
.regular-customers__link:focus {
  fill: var(--accent-text-color);
}
.regular-customers__item {
  flex-basis: calc((100% - 170px) / 6);
}
.regular-customers__item:not(:last-child) {
  margin-right: 30px;
}

/* Footer section styles */

.footer {
  display: flex;
  margin-left: auto;
  background-color: var(--dark-bg-color);
}

.footer__conteiner {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contact {
  display: block;
  width: 231px;
  margin: 0;
  padding: 0;
}

.footer__label {
  display: inline-block;
  width: 145px;
  margin-bottom: 20px;
}

.footer-contact__list {
  display: block;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__link {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--social-footer-color);
}

.address {
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: var(--first-bloc-color);
}

.footer-network {
  margin-left: 70px;
  margin-top: 12px;
}
.footer-network__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-bloc-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-network .icon {
  fill: var(--first-bloc-color);
}
.social-icon__footer-link {
  background-color: var(--icon-footer-color);
  transition: background-color var(--animation) var(--cubic);
}
.social-icon__footer-link:hover,
.social-icon__footer-link:focus {
  background-color: var(--accent-text-color);
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 78px;
}

.footer-form_label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-bloc-color);
  margin-bottom: 20px;
}

.footer-form_input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;

  border-radius: 4px;
  background-color: var(--dark-bg-color);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: var(--social-footer-color);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: border var(--animation) var(--cubic);
}
.footer-form_input:focus {
  border: 1px solid var(--accent-text-color);
}

.footer-form_btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: inline-flex;
  padding-left: 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--first-bloc-color);

  margin-left: 12px;
}

.footer-form_btn .icon {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}

/* label styles*/

.title-label {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.title-label__first-part {
  color: var(--accent-text-color);
}

.title-label__second-part {
  color: var(--laber-color);
}

.title-label__footer-second-part {
  color: var(--first-bloc-color);
}

/* Portfolio page */

.portfolio {
  background-color: var(--first-bloc-color);
}
a {
  text-decoration: none;
}

.portfolio-conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  list-style: none;
}

.portfolio-item {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 3) / 3);
  background-color: var(--first-bloc-color);
  transition: border var(--animation) var(--cubic),
    box-sizing var(--animation) var(--cubic),
    box-shadow var(--animation) var(--cubic);
}

.portfolio-item:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item__description {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: none;
}

.portfolio__button-list {
  display: inline-block;
  margin-left: 270px;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--section-team-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color var(--animation) var(--cubic),
    background-color var(--animation) var(--cubic);
}

.portfolio__btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn:hover {
  color: var(--first-bloc-color);
  background-color: var(--accent-text-color);
}

.portfolio-item__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-item__name {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-item__conteiner {
  position: relative;
  overflow: hidden;
}

.portfolio-item__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: 0;
  padding: 63px 24px;
  align-items: center;
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--first-bloc-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--animation) var(--cubic),
    opacity var(--animation) var(--cubic);
}

.portfolio-item:hover .portfolio-item__text,
.portfolio-item:focus .portfolio-item__text {
  opacity: 1;
  transform: translateY(0%);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: var(--first-bloc-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--first-bloc-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.modal__btn-close .icon {
  width: 18px;
  height: 18px;
  padding-top: 4px;
  transition: fill var(--animation) var(--cubic);
}

.modal__btn-close:hover .icon {
  fill: var(--accent-text-color);
}

.form-backdrop {
  margin: 40px;
}
.form-backdrop__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-modal__label {
  display: inline-block;
  margin-bottom: 10px;
}
.form-modal__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-modal__label .form-modal__title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
  margin-bottom: 4px;
}

.form-modal .icon {
  width: 18px;
  height: 18px;
}

.form-modal__box {
  display: block;
  position: relative;
}
.form-modal__box .icon {
  position: absolute;
  top: 11px;
  left: 12px;
}
.form-modal__input {
  transition: border-color var(--animation) var(--cubic);
}

.form-modal__input:focus {
  border-color: var(--accent-text-color);
}
.form-modal__input:focus + .icon,
.form-modal__input:not(:placeholder-shown) + .icon {
  fill: var(--accent-text-color);
}

.label-comment {
  margin-bottom: 20px;
}

.textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  transition: border-color var(--animation) var(--cubic);
}

.textarea:focus {
  border-color: var(--accent-text-color);
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-checkbox {
  position: relative;
  margin-left: 14px;
  margin-top: 20px;
}

.label-checkbox .icon {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox {
  margin-left: 23px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.label-checkbox .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-text-color);
}

.checkbox-image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/vector.svg);
  width: 16px;
  height: 15px;
}
.input-checkbox:checked + .checkbox-image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 15px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.btn-modal {
  padding: 10px 55px;
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-bloc-color);
  background-color: var(--accent-text-color);
  transition: background-color var(--animation) var(--cubic);
}

.btn-modal:hover,
.btn-modal:focus {
  background-color: #188ce8;
}
