:root{
    --title-text-color: #212121;
    --main-text-color:  #757575;
    --first-bloc-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --dark-bg-color:  #2F303A;
    --social-footer-color: rgba(255, 255, 255, 0.6);
    --laber-color: #000000;
    --section-color: #E5E5E5;
    --section-team-color: #F5F4FA;
    --border-color: #EEEEEE

}

/* Body styles */

html {
	box-sizing: border-box;
    width: 1600px;
    padding-left: 200px;
    padding-right: 200px;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1,71;
    color: var(--main-text-color);
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}
.link:hover,
.link:focus {
    color: var(--accent-text-color);
}
.list {
    list-style: none;
    padding-left: 0;
	margin: 0;
}
img {
      display: block;
      max-width: 100%;
      height: auto;
}    
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px ;
}
button {
    border: none;
}




/* Header section styles */

.conteiner-header {
    
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title-label{
    margin-right: 93px;
    align-items: center;
}

.list-header {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navigation-item:not(:last-child) {
    margin-right: 50px;
}
.navigation-item {
    align-items: center;
}

.list-header-contact {
    display: flex;
}

.socials-item:not(:last-child) {
    margin-right: 50px;
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.socials-list-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}


/* Main section styles */

/*hero section styles*/
.hero {
    min-height: 100vh;
    padding-left: 234px;
    padding-right: 234px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--dark-bg-color)
}
.hero .conteiner {
    max-width: 700px;
    margin: auto;
}
.page-title {
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-bloc-color);
}
.button-studio {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1,81;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--first-bloc-color);
    background-color: var(--accent-text-color);
}


/*main points section styles*/

.main-section {
    align-items: center;
    padding-top: 94px;
}
.latent-title {
    display: none;
}

.main-points-section {
    display: flex;
}
.main-points {
    max-width: 270px;
}
.main-points:not(:last-child) {
    margin-right: 30px;
}
.main-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.main-paragraph {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

/*about us section*/
.about-us-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.photo-about-us {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.photo-about-us .photo {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px*3) / 3 );
}
.section-title {
    display: inline-block;
    margin-right: 396px;
    margin-left: 396px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    letter-spacing: 0.03em;   
    color: var(--title-text-color);
}


/*about our team section*/
.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-team-section .section-title {
    display: block;
    margin-bottom: 50px;
}
.about-team-section .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-lead {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px*4) / 4 );

}

.team {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.team-profession {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
}

.main-section, 
.about-us-section {
    background: var(--section-color);
}

.team-section {
    background: var(--section-team-color);
    text-align: center;
}


/* Footer section styles */


.conteiner-footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--dark-bg-color);
}

.footer-label {
    display: block;
    margin-bottom: 20px;
}
.list-footer .socials:not(:last-child) {
    margin-bottom: 9px;
}

.socials-list-footer {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--social-footer-color);
    background-color: var(--dark-bg-color);
}

.address {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--first-bloc-color);
    background-color: var(--dark-bg-color);
}

/* label styles*/

.title-label {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.label-first-part {
    color: var(--accent-text-color);
}

.label-second-part-header {
    color: var(--laber-color);
}

.label-second-part-footer {
    color: var(--first-bloc-color);
}





/* Portfolio page */

a {
    text-decoration: none;
}
.main-section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-description {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    list-style: none;
}
.portfolio-items {
    width: 370px;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 3) / 3 );
}
.information {
    padding-left: 24px;
    padding-top: 20px;
    border: 1px solid var(--border-color);
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: none;
}

.button-portfolio-items {
    display: inline-block;
    margin-left: 272px;
    margin-right: 272px;
    margin-bottom: 50px;
}
.button-portfolio{
    padding-right: 22px;
    padding-left: 22px;
}
.button-portfolio:not(:last-child) {
    margin-right: 8px;
}


.main-section-portfolio {
    background-color: var(--section-color) ;   
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--section-team-color);
}

.button-portfolio:hover {
    color: var(--first-bloc-color);
    background-color: var(--accent-text-color);
}

.title-img-portfolio {
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.section-name-portfolio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}