.email-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 78px;
}

.email-form__label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-bloc-color);
  margin-bottom: 20px;
}

.email-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;

  border-radius: 4px;
  background-color: var(--dark-bg-color);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: var(--social-footer-color);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: border var(--animation) var(--cubic);

  &:focus {
    border: 1px solid var(--accent-text-color);
  }
}

.email-form__btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: inline-flex;
  padding-left: 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--first-bloc-color);

  margin-left: 12px;

  & .icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
  }
}
