.navigation-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
}

.navigation-list__link-active {
  color: var(--accent-text-color);
}
.navigation-list__link-active::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}
