:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --first-bloc-color: #ffffff;
  --accent-text-color: #2196f3;
  --dark-bg-color: #2f303a;
  --social-footer-color: rgba(255, 255, 255, 0.6);
  --laber-color: #000000;
  --section-color: #e5e5e5;
  --section-team-color: #f5f4fa;
  --border-color: #eeeeee;
  --border-header: #ececec;
  --icon-color: #afb1b8;
  --icon-footer-color: #44454e;

  --animation: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
