.portfolio {
  background-color: var(--first-bloc-color);
}

.portfolio__conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__button-list {
  display: inline-block;
  margin-left: 270px;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--section-team-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color var(--animation) var(--cubic),
    background-color var(--animation) var(--cubic);

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    color: var(--first-bloc-color);
    background-color: var(--accent-text-color);
  }
}
