.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid currentColor;
  fill: var(--icon-color);
  transition: fill var(--animation) var(--cubic);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }

  @media screen and (max-width: 767px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.regular-customers__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-customers__item {
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}
