.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--section-team-color);
  text-align: center;
}

.team-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-section__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 4) / 4);
  padding-bottom: 30px;
  background-color: var(--first-bloc-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-section__profession {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}
